<h2>Parkings List</h2>
<div ng-controller="ListController">
    <div class="row">
       <div class="col-xs-6">
           <form class="form-inline">
                <div class="form-group">
                    <label>Filtrer par Nom </label>
                    <input type="text" ng-model="searchValue" placeholder="Recherche" class="form-control"> 
                </div>
           </form>
           <hr>
            <div id="searchResults">
                <ul>
                  <li ng-repeat="parking in parkings | filter: searchValue">
                      <a ng-click="singleInformation({{parking.IdObj}})">
                            {{parking.Grp_nom}}</a>
                  </li>
                </ul>
            </div>
       </div>

        <div class="col-xs-6">
                    <h4> Informations </h4>

            <hr>

            <p>                {{infos}} </p>

        </div>
    </div>
 </div>
<!--
<div ng-repeat="parking in parkings" >    
        <p>{{parking.Grp_identifiant}}-
        {{parking.Grp_nom}}-
        {{parking.Grp_statut}}-
        {{parking.Grp_pri_aut}}-
        {{parking.Grp_disponible}}-
        {{parking.Grp_complet}}-
        {{parking.Grp_exploitation}}-
        {{parking.Grp_horodatage}}-
        {{parking.IdObj}}
        </p>
</div>
-->